<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	 <% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->
	 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row formBox">
			
			<h2 class="products-title">Ingresar</h2>
			
			<!-- Show the "ultimos" products -->
			<form action="/user/login" method="POST">
				<% if(locals.old){ %>
					<label for="usuario">Usuario (Email):</label><br>
				<input type="text"  name="mail" value="<%= old.mail %>"><br>
				<% if (locals.errorMail) { %>
					<p class="error"><%= errorMail %></p>
				<% } %>
			<%	} else{ %>
				<label for="usuario">Usuario (Email):</label><br>
				<input type="text"  name="mail" ><br>
				<% if (locals.errorMail) { %>
					<p class="error"><%= errorMail %></p>
				<% } }%>
				
				<label for="contrasenia">Contraseña:</label><br>
				<input type="password" id="contrasenia" name="contrasenia" ><br>
				<% if (locals.errorContrasenia) { %>
					<p class="error"><%= errorContrasenia %></p>
				<% } %>
				
				<label for="recordarme">Recordarme:</label>
				<input type="checkbox" id="recordarme" name="recordarme"><br>
				
				<input type="submit" value="Iniciar Sesión">
			</form>

 
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>