<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<% if (locals.user !=undefined) { %>
			<%- include('./partials/headerLogueado') %>
				<% } else { %>
					<%- include('./partials/header') %>
						<% } %>
							<!-- /Header -->

							<!-- product detail -->
							<div class="container products-wrapper">
								<div class="d-flex align-items-center">
									<h2 class="products-title">
										<%= product.nombreProducto %>
									</h2>
									<p class="product-detail-description">
										<a href="/products/edit/id/<%= product.id %>">Editar</a>
									</p>

									<form action="/products/delete" method="POST">
										<input type="hidden" name="id" value="<%= product.id %>">
										<button type="submit">Eliminar</button>
									</form>

								</div>
								<div class="product-detail">
									<div class="row">

										<article class="col-12 col-lg-8 product-detail-info">
											<img src="<%= product.fotoProducto %>" alt="producto"
												class="product-detail-img">
											<p class="product-detail-description">
												<%= product.descripcion %>
											</p>
										</article>
										<div class="col-12 col-lg-4">
											<section class="comments">
												<% const comentarios=product.comentarios %>
													<% for (let i=0; i < comentarios.length; i++) {%>

														<article>
															<img src="<%= product.comentarios[i].comentador.fotoPerfil %>"
																alt="foto usuario">
															<div class="data">
																<p class="user">
																	<strong><a
																			href="/profile/id/<%= product.comentarios[i].comentador.nombreUsuario %>">
																			<%= product.comentarios[i].comentador.nombreUsuario
																				%>
																		</a></strong>
																	<%= product.comentarios[i].texto %>
																</p>
															</div>
														</article>

														<%} %>

											</section>
											<form class="form" action="/products/comment" method="POST">
												<input type="hidden" name="idProducto" value="<%= product.id %>">
												<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
												<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
											</form>
											<hr>
										</div>
									</div>
								</div>
							</div>
							<!-- /product detail -->

							<!-- footer -->
							<%- include('./partials/footer') %>
								<!-- /footer -->

	</body>

</html>