<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	 <% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row formBox">
			
			<h2 class="products-title">Registrate</h2>
			
			<!-- Show the "ultimos" products -->
			<% if (locals.errors) { %>
				<div class="divErrores"> 
					<%	for (let i = 0; i < errors.length; i++) { %>					
				<p class="showError"><%= errors[i].msg %></p>	
				<%} %>
				</div>

			<%	} %>

			 <% if (locals.errors) { %>
				<form action="/user/register" method="POST">
	
					<label for="email">Email:</label><br>
					<input type="email"  name="email" value="<%= old.email %>"><br>
					
					<label for="usuario">Usuario:</label><br>
					<input type="text"  name="usuario" value="<%= old.usuario %>"> <br>
					
					<label for="contrasenia">Contraseña:</label><br> 
					<input type="password"  name="contrasenia" value="<%= old.contrasenia %>"><br>
						
					<label for="fecha_nacimiento">Fecha de Nacimiento:</label><br>
					<input type="date"  name="fechaNacimiento" value="<%= old.fechaNacimiento %>"><br>
					
					<label for="nro_documento">Nro. de Documento:</label><br>
					<input type="number"  name="nroDocumento" value="<%= old.nroDocumento %>"><br>
					
					<label for="foto_perfil">Foto de Perfil:</label><br>
					<input type="text"  name="fotoPerfil" value="<%= old.fotoPerfil %>"><br>	
					
					<input type="submit" value="Confirmar">
				</form>

			<% } else{%>
			<form action="/user/register" method="POST">

				<label for="email">Email:</label><br>
				<input type="email" name="email" value=""><br>
				
				<label for="usuario">Usuario:</label><br>
				<input type="text"  name="usuario" value=""><br>
				
				<label for="contrasenia">Contraseña:</label><br> 
				<input type="password"  name="contrasenia" value=""><br>
					
				<label for="fecha_nacimiento">Fecha de Nacimiento:</label><br>
				<input type="date"  name="fecha_nacimiento" value=""><br>
				
				<label for="nro_documento">Nro. de Documento:</label><br>
				<input type="number"  name="nro_documento" value=""><br>
				
				<label for="foto_perfil">Foto de Perfil:</label><br>
				<input type="text" name="foto_perfil" value=""><br>	
				
				<input type="submit" value="Confirmar">
			</form>
			<% } %>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>